body {
    background-color: #F2C249;
    font-weight: lighter;
    color: #3D4C53;
}

.jumbotron {
    background-color: #4DB3B3;
    padding-bottom: 10px;
    padding-top: 2px;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.label-info {
    font-size: x-large;
    background-color: #E64A45;
}

.shopping-list {
    margin-top: 25px;
}

.checkbox {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    border: 1px #4DB3B3 dotted;
    line-height: 1;
}

.action-bar {
    margin-top: 30px;
}